USE [master]
GO
/****** Object:  Database [MundoDisneyBD]    Script Date: 2/6/2023 09:57:35 ******/
CREATE DATABASE [MundoDisneyBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MundoDisneyBD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\MundoDisneyBD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MundoDisneyBD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\MundoDisneyBD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MundoDisneyBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MundoDisneyBD]
GO
/****** Object:  User [Disney]    Script Date: 2/6/2023 09:57:36 ******/
CREATE USER [Disney] FOR LOGIN [Disney] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [alumno]    Script Date: 2/6/2023 09:57:36 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Disney]
GO
/****** Object:  Table [dbo].[PeliSerie]    Script Date: 2/6/2023 09:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PeliSerie](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Imagen] [varchar](8000) NULL,
	[Título] [varchar](50) NULL,
	[FechaCreación] [date] NULL,
	[Calificación] [float] NULL,
 CONSTRAINT [PK_PeliSerie] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personaje]    Script Date: 2/6/2023 09:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personaje](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Imagen] [varchar](4000) NULL,
	[Nombre] [varchar](50) NULL,
	[Edad] [int] NULL,
	[Peso] [float] NULL,
	[Historia] [varchar](4000) NULL,
 CONSTRAINT [PK_Personaje] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonajeXPeliSerie]    Script Date: 2/6/2023 09:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonajeXPeliSerie](
	[IdPersonaje] [int] NULL,
	[IdPeliSerie] [int] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PeliSerie] ON 

INSERT [dbo].[PeliSerie] ([Id], [Imagen], [Título], [FechaCreación], [Calificación]) VALUES (1, N'https://static.wikia.nocookie.net/doblaje/images/d/d9/ElHombreAra%C3%B1a.jpg/revision/latest?cb=20110116183239&path-prefix=es', N'Spider-Man', CAST(N'2002-04-29' AS Date), 3.7)
INSERT [dbo].[PeliSerie] ([Id], [Imagen], [Título], [FechaCreación], [Calificación]) VALUES (2, N'https://play-lh.googleusercontent.com/vmwvke9JmwNsEKiMk1gV6cmcHQbyxajCSnLi8HTI6ZON_mS-I8CW4mt5qciVuFYVioUs', N'Pinocchio', CAST(N'1940-02-23' AS Date), 3.8)
INSERT [dbo].[PeliSerie] ([Id], [Imagen], [Título], [FechaCreación], [Calificación]) VALUES (3, N'https://es.web.img3.acsta.net/medias/nmedia/18/73/54/02/20415767.jpg', N'Aldin', CAST(N'1992-10-25' AS Date), 4)
SET IDENTITY_INSERT [dbo].[PeliSerie] OFF
GO
SET IDENTITY_INSERT [dbo].[Personaje] ON 

SET IDENTITY_INSERT [dbo].[Personaje] OFF
GO
INSERT [dbo].[PersonajeXPeliSerie] ([IdPersonaje], [IdPeliSerie]) VALUES (2, 2)
INSERT [dbo].[PersonajeXPeliSerie] ([IdPersonaje], [IdPeliSerie]) VALUES (3, 3)
INSERT [dbo].[PersonajeXPeliSerie] ([IdPersonaje], [IdPeliSerie]) VALUES (4, 4)
GO
ALTER TABLE [dbo].[PersonajeXPeliSerie]  WITH CHECK ADD  CONSTRAINT [FK_PersonajeXPeliSerie_PeliSerie] FOREIGN KEY([IdPeliSerie])
REFERENCES [dbo].[PeliSerie] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PersonajeXPeliSerie] CHECK CONSTRAINT [FK_PersonajeXPeliSerie_PeliSerie]
GO
ALTER TABLE [dbo].[PersonajeXPeliSerie]  WITH CHECK ADD  CONSTRAINT [FK_PersonajeXPeliSerie_Personaje] FOREIGN KEY([IdPersonaje])
REFERENCES [dbo].[Personaje] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PersonajeXPeliSerie] CHECK CONSTRAINT [FK_PersonajeXPeliSerie_Personaje]
GO
USE [master]
GO
